* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D1E9F0;
    font-family: sans-serif; 
}

.search-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
}

.back-btn {
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#searchInput {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 250px;
}

/* Grid Barang */
.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 65px;
    justify-content: center;
    padding: 20px;
}

.item-card {
    transition: transform 0.2s;
    width: 250px;
}

.item-card:hover {
    transform: translateY(-5px);
}

.image-box {
    background: white;
    border: 1px solid #999;
    border-radius: 15px;
    height: 220px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin-bottom: 10px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.item-card h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.item-card p {
    font-size: 0.85rem;
}

.price {
    font-style: italic;
}

.gambar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}