.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

/* logo */
.logo{
    font-size: 22px;
    font-weight: bold;
}

/* menu */
.nav-menu{
    display: flex;
    list-style: none;
    gap: 90px; /* jarak antar tulisan */
}

.nav-menu a{
    text-decoration: none;
    color: black;
}

/* icon */
.nav-icons{
    display: flex;
    gap: 70px;
}

.user-menu{
    position: relative;
}

#userIcon{
    cursor: pointer;
}

/* dropdown */
.dropdown-menu{
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 180px;
    padding: 12px;
    display: none;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.dropdown-menu a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dropdown-menu a:hover{
    color: #007bff;
}

.balance{
    font-weight: bold;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}